:root {
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #CDCDCD;
    --color-dark: #292929;
    --color-dark-xl: #4C4C4C;
    --color-dark-i: #545454;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-m: #B2B2B2;
}
@font-face {
    font-family: Arial;
    src: url("../../assets/fonts/Arial.ttf")
}
@font-face {
    font-family: Georgia;
    src: url("../../assets/fonts/Georgia.ttf")
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.hidden-overflow {
    overflow-y: hidden;
}
.overflow-visible {
    overflow: scroll;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* header */
.none {
    display: none;
}
.header-container {
    width: 100%;
    height: 120px;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    /* background: url('../../assets/images/bg.jpg');
    background-repeat: no-repeat; */
    background-position: center 0;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    /* margin-right: 3.3%;
    margin-left: 3.125%; */
    margin-right: 42.24px;
    margin-left: 40px;
}

.nav-wrapper.grey {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 877px;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 20;
}
.nav {
    margin-top: 1.65%;
    align-items: center;
}
.nav-list {
    padding: 0;
    display: flex;
    gap: 35px;
    list-style: none;
}
.nav-link {
    /* padding: 0; */
    font-family: Arial;
    font-weight: 400px;
    /* font-size: 0.9375rem; */
    font-size: 15px;
    line-height: 24px;
    color: var(--color-grey);
    text-decoration: none;
}

.nav-link.active {
    color: var(--color-white);
}
.nav-link:hover {
    color: var(--color-white);
}
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: var(--color-primary);
    transition: width 0.5s;
}
/* .nav-link:hover::after {
    cursor: pointer;
    width: 100%;
} */
.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-primary);
}

.logo {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
h1, h2, h3, h4, h5 {
    font-size: 0;
    font-weight: normal;
    margin: 0;
}

.logo-title{
    margin-top: 10%;
    font-family: Georgia;
    /* font-weight: 400px; */
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: 1.92px;
    color: var(--color-primary);
    cursor: pointer;
}

.logo-subtitle {
    margin-top: 5.8%;
    font-family: Arial;
    font-size: 0.8125rem;
    line-height: 110%;
    letter-spacing: 1.25px;
    text-indent: 2.5%;
    color: var(--color-white);
}

.burger-btn {
    display: none;
    padding: 0;
}

/* section-not-only */
.section-not-only {
    padding-top: 180px;
    padding-left: 3.2%; 
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: 100%;
    height: 909px;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    margin-top: -120px;
}

.not-only-image {
     padding-right: 3%;
     display: flex;
}

.not-only-text {
     width: 460px;
     height: 322px;
     padding-top: 13.3%;
}

.not-only-title {
    width: 310px;
    height: 114px;
    font-family: Georgia;
    font-size: 2.75rem;
    line-height: 3.58rem;
    color: var(--color-white);
}

.not-only-paragraph {
    /* padding-top: 24px; */
    padding-top: 5.5%;
    width: 460px;
    height: 72px;
    font-family: Arial;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    color: var(--color-grey);
}

.make-a-friend-btn {
    margin-top: 11.6%;
    width: 207px;
    height: 52px;
    border: none;
    border-radius: 100px;
    font-family: Georgia;
    font-style: Regular;
    letter-spacing: 6%;
    font-size: 1.19rem;
    line-height: 1.37rem;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-dark);
}

.make-a-friend-btn:hover {
    cursor: pointer;
    background-color: var(--color-primary-light)
}

/* section about the shelter */

.about-the-shelter-section {
    padding-bottom: 1.5%;
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 588px;
}

.about-section-title {
    font-family: Georgia;
    font-size: 2.1875rem;
    line-height: 2.84rem;
    letter-spacing: 2.1px;
    color: var(--color-dark-i);
}

.about-section-paragraph {
    margin-bottom: 6.3%;
    margin-top: 5.2%;
    font-family: Arial;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    color: var(--color-dark-xl);
}

.about-text {
    /* display:flex; */
    width: 430px;
    height: 380px;
}

.dog-and-cat {
    order: -1;
}

/* our-friends-section */

.our-friends-section {
    width: 100%;
    height: 877px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 80px;
    background: var(--color-light-l);
}
.section-title {
    margin: 0 auto;
    width: 400px;
    height: 90px;
    font-family: Georgia;
    font-size: 2.1875rem;
    line-height: 2.8rem;
    letter-spacing: 2.1px;
    text-align: center;
    color: var(--color-dark-i);
}

.pets-cards {
    display: flex;
    gap: 90px;
    align-items: center;
    overflow-x: hidden;
}
.pets-wrap {
    display: flex;
    gap: 90px;
    width: 990px;
    height: 435px;
}

.pets-wrap.transition {
    transition: all 0.9s ease 0s;
}
@keyframes offset {
    from {
        transform: transplate(-100%, 0);
    }

    to {
        transform: transplate(0, 0);
    }
}
.our-friend-card {
    padding-bottom: 30px;
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-light-s);
}
/* .our-friend-card:first-child, .our-friend-card:nth-child(2), .our-friend-card:nth-child(3) {
    animation-name: offset;
    animation-duration: 0.5s;
} */

.pets-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
}
.pets-name {
    margin: 0;
    font-family: Georgia;
    font-size: 20px;
    text-align: center;
    line-height: 22.72px;
    letter-spacing: 1px;
}

.learn-more-btn {
    margin: 0 auto;
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid var(--color-primary);
    font-family: Georgia;
    font-size: 1.0625rem;
    line-height: 22.1px;
    letter-spacing: 1px;
    text-align: center;
    background: inherit;
}
.our-friend-card:hover .learn-more-btn {
    background: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}
.learn-more-btn:hover {
    cursor: pointer;
    background: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}

.know-more-btn {
    margin: 0 auto;
    width: 261px;
    height: 52px;
    border-radius: 100px;
    font-family: Georgia;
    font-size: 1.06rem;
    letter-spacing: 1px;
    border: 2px solid #F1CDB3;
    color: var(--color-dark);
    background: var(--color-primary); 
}

.know-more-btn:hover {
    cursor: pointer;
    background: var(--color-primary-light);
}

.btn-slider {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    color: var(--color-dark);
    border: 2px solid var(--color-primary);
    background: inherit;
    /* z-index: 1; */
}
.btn-slider:hover{
    cursor: pointer;
    background: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}

.our-friend-card:hover{
    cursor: pointer;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: var(--color-white);
}
/* help-section */


ul.help-list {
    margin: 0;
    padding: 0;
}

.help-section {
    margin: 0 auto;
    padding-top: 80px;
    width: 90%;
    height: 611px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.help-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    column-gap: 120px;
    row-gap: 55px;
}

.help-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.help-icon {
    width: 60px;
    height: 60px;
}

.help-item-title {
    text-align: center;
    font-family: Georgia;
    font-size: 1.25rem;
    line-height: 1.44rem;
    letter-spacing: 1.2px;
    color: var(color-dark-i);
}

/* donation-section */
.donation-section {
    width: 100%;
    height: 464px;
    background-color: var(--color-light-l);
}
.donation-wrapper {
    width: 915px;
    height: 362px;
    margin: 0 auto;
    padding-top: 80px;  
    display: flex;
    gap: 30px;
}
.dog-wait-donation {
    margin-top: 1.3%;
    width: 505px;
    height: 261px;
}
.donation-title {
    text-align: left;
}
.donation-subtitle {
    margin-top: 1px;
    font-family: Georgia;
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.9px;
    color: var(--color-dark-i);
}
.donation-text {
    margin-top: 0.6%;
    font-family: Arial;
    font-weight: 400;
    font-style: italic;
    font-size: 0.75rem;
    line-height: 18px;
    color: var(--color-dark-m);
}

.wrapper-text-donation {
    width: 380px;
    height: 282px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-number-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 9px;
    width: 349px;
    height: 43px;
    background: var(--color-primary);
    text-decoration: none;
}

.card-number-link:hover {
    background: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}
.card-number {
    width: 274px;
    height: 23px;
    font-family: Georgia;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1.1px;
    color: var(--color-dark-i);
}
.card-img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 23px;
}

/* footer */
.footer {
    margin-top: -0.3%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    padding-top: 40px;
    padding-left: 40px;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
.footer-wrapper {
    
    width: 1200px;
    height: 310px;
    padding-bottom: 40px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 160px;
}
.first-footer-wrapper {
    width: 278px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
.second-footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.section-subtitle {
    font-family: Georgia;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: var(--color-primary);
}
.puppy-footer {
    align-self: flex-start;
    margin-right: 3.2%;
    width: 300px;
    height: 310px;
}
.footer-title {
    text-align: left;
    width: 278px;
    height: 90px;
    font-family: Georgia;
    font-size: 35px;
    line-height: 45.4px;
    letter-spacing: 2px;
    color: var(--color-white);
}
.f-title {
    width: 270px;
}
.footer-link {
    text-decoration: none;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 20px;
}

.first-footer-link {
    width: 302px;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

/* popap */
.popap-wrapper {
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 877px;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 3;
}
.popap-wrapper.show {
    display: block;
}
.popap-wrapper.hidden {
    display: none;
}
.modal {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    max-width: 952px; 
    /* margin: 28px auto; */
    margin: 0 auto;
    top: 2%;
    left: 2%;
    animation-name: fade;
    animation-duration: 0.5s;
}

.popap-content {
    display: flex;
    width: 900px;
    height: 500px;
    border-radius: 9px;
    gap: 29px;
    background: var(--color-white);
    padding-bottom: 5px;
}
.popap-pet-img {
    width: 500px;
    height: 500px;
    border-radius: 9px;
}
.popap-button {
    cursor: pointer;
    margin-left: 93.5%;
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    background: inherit;
    color: var(--color-black);
}
.popap-pet-name {
    font-family: Georgia;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: var(--color-black);
}
.popap-pet-breed {
    font-family: Georgia;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.3px;
    color: var(--color-black);
}
.popap-text {
    width: 350px;
    height: 102px;
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400px;
    line-height: 17px;
    letter-spacing: 0.9px;
    color: var(--color-black);
}
.popap-description {
    width: 351px;
    height: 362px;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.popap-dog {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.popap-list {
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
   
}
.popap-list > li {
    font-family: Georgia;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 1px;
    list-style-type: none;
}
.popap-list > li:before {
    margin-right: 10px;
    color: var(--color-primary);
    content: "•";
}
.bold {
    font-weight: 700;
    letter-spacing: 2px;
}
.popap-wrapper:hover .popap-button{
    background: var(--color-primary-light);
}
.popap-wrapper:hover {
    cursor: pointer;
}
.popap-button:hover {
    background: var(--color-primary-light);
}
.popap-content:hover {
    cursor: default;
}
.modal:hover .popap-button {
    background: var(--color-primary-light);
}
.popap-content:hover  + .popap-button {
    background: inherit;
}

@media (max-width: 1279px) {
    html {
        font-size: 16px;
    }
    body {
        margin: 0 auto; 
        /* width: 768px; */
    }
    .header-wrapper {
        padding-top: 12px;
        margin-right: 4.2%;
        margin-left: 3.7%;
    }
    .nav {
        padding-top: 6px;
    }
    .logo {
        position: absolute;
        top: 10px;
        left: 30px;
    }
    .nav {
        position: absolute;
        top: 10px;
        right: 32px;
    }

    .section-not-only {
        height: 1166px;
        padding-top: 0;
        padding-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .not-only-image {
        padding-right: 0;
        margin-top: 3%;
        /* margin-top: 89px; */
        margin-left: 18%;
        width: 569px;
        height: 593px;
    }

    .not-only-text {
        padding-top: 0;
        margin-top: 17%;
    }
    .not-only-paragraph {
        padding-top: 5.7%;
    }
    .make-a-friend-btn {
        /* margin-top: 12%; */
        margin-left: 27.3%;
    }
    /* .our-friend-card:nth-child(n+3) {
        display: none;
    } */
    .pets-container {
        gap: 11px;
    }
    .pets-wrap {
        width: 580px;
        gap: 40px;
    }
    .about-the-shelter-section{
        flex-direction: column;
        height: 1048px;
    }
    .dog-and-cat {
        order: 1;
    }
    .help-section{
        height: 779px;
    }
    .help-list-item {
        width: 170px;
        height: 113px;
    }
    .help-list{
        /* width: 100%; */
        width: 630px;
        column-gap: 60px;
    }
    .donation-section{
        height: 783px;
    }
    .donation-wrapper {
        width: 768px;
        height: 784px;
        /* margin-top: -13px; */
        padding-top: 0;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        align-items: center;
    }
    .dog-wait-donation{
        order: 1;
    }
    .footer {
        display: flex;
        /* flex-direction: column; */
        justify-content: center; 
        align-items: center; 
        padding: 30px 30px 0 30px;
        height: 635px;
    }
    .footer-wrapper{
        padding-bottom: 0;
        width: 768px;
        height: 100%;
        justify-content: center; 
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;
    }
    .second-footer-wrapper {
        width: 302px;
        height: 234px;
    }
    .puppy-footer{
        margin: 0;
    }

    /* popap */
    .popap-wrapper {
        width: 100%;
        height: 877px;    
    }
    .modal {
        left: 3%; 
        top: 3%;
        width: 682px;
        height: 402px;
    }
    .popap-content {
        gap: 10px;
        width: 630px;
        height: 350px;
    }
    .popap-pet-img {
        width: 350px;
        height: 350px;
    }
    .popap-button {
        margin-left: 91%;
    }
    .popap-pet-name {
        font-size: 35px;
        line-height: 45.5px;
        letter-spacing: 2px;
    }
    .popap-description {
        margin-top: 0;
        gap: 20px;
        margin-top: 10px;
    }
    .popap-text{
        width: 265px;
        height: 98px;
        font-size: 13px;
        line-height: 14px;
        letter-spacing: 0.06em;
    }
    .popap-list {
        gap: 7px;
    }
    
}

@media (max-width: 850px) {
    
    .about-the-shelter-section {
        margin-top: 5%;
    }
    .about-text {
        margin-top: 5.5%;
        margin-bottom: -5.5%;
    }
    
}

@media (max-width: 768px) {
    .about-the-shelter-section {
        height: 1048px;
        margin-top: 0;
        padding: 0;
    }
    .not-only-text {
        margin-top: 19.8%;
    }
    .not-only-image {
        margin-top: 12.5%;
    } 
    .about-text {
        margin-top: 10.5%;
    }
    .dog-and-cat {
        margin-bottom: 13%;
    } 
    .pets-cards {
        gap: 40px;
    } 
    .help-section {
        width: 100%;
        height: 779px; 
    }
    .help-list {
        column-gap: 60px;
    }
    .donation-section {
        padding-top: 0;
    }
    
    .dog-wait-donation {
        order: 1;
        margin-bottom: 2.7%;
    }
    .footer{
        height: 639px;
    }
}

@media (max-width: 767px) {
    @keyframes hidden {
        from {right: -100%;}
        to {right: 0%}
    }
    @keyframes show {
        from {right: 0%;}
        to {right: -100%}
    }
    
    /* header */
    .nav {
        position: absolute;
        width: 320px;
        right: -320px;
        animation-name: show;
        animation-duration: 1.4s;
        z-index: 150;
        /* height: 100%; */
        margin-top: -4%;
        height: 863px;
        background-color: var(--color-black);
    }
    .nav-none {
        display: none;
    }
    .burger-btn .line{
        width: 30px;
        height: 2px;
        background-color: var(--color-primary);
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
    }
    .burger-btn {
        display: block;
        position: absolute;
        left: calc(100% - 83px);
        background-color: inherit;
        margin: 29px 0;
        width: 30px;
        height: 22px;
        z-index: 200;
    }
    
    .burger-btn.active .line:nth-child(1){
        /* transform: translateY(13px) rotate(45deg); */
        transform:  translate(10px,10px) rotate(90deg);
    }
    .burger-btn.active .line:nth-child(2) {
        transform:   rotate(90deg);
        /* display: none; */
    }
    .burger-btn.active .line:nth-child(3){
        /* transform: translateY(-13px) rotate(-45deg); */
        transform:  translate(-10px, -10px) rotate(90deg);
    }

    .burger-btn.active::after {
        display: none;
    }
   
    .burger-btn:hover {
        cursor: pointer;
        transition: 0.5s;
    }
    .nav {
        padding-bottom: 200px;
        overflow: auto;
    }
    
    .nav-logo {
        position: absolute;
        left: calc(100% - 310px);
        top: 14px;
        z-index: 2;
        text-decoration: none;
    }

    .nav-logo.show {
        display: block;
    }

    .logo.close {
        display: none;
    }
    .logo-title-color {
        color: var(--color-primary);
    }

    .logo-subtitle-color {
        color: var(--color-white);
    }

    .logo{
        z-index: 2;
        left: 10px;
    }

    .nav.show {
        display: block;
        right: 0%;
        animation-name: hidden;
        animation-duration: 1.4s;   
    }
   
    .nav-list{
        margin: 0 auto;
        padding-top: 76%;
        /* padding-left: calc(100% - 492px); */
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 38px;
        color: var(--color-grey);
        transition: all 0.4s ease-in-out;
        width: 320px;
        height: 823px;
    }
    .nav-link {
        font-family: Arial;
        font-size: 32px;
        line-height: 51.2px;
    }
  
    /* section not-only */
    .not-only-text {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 42px;
        align-items: center;
        width: 300px;
        height: 296px;
    }
    .not-only-image {
        margin-left: 13%;
        width: 260px;
        height: 271.77px;
    }
    .make-a-friend-btn {
        margin: 0;
        padding-right: 0px;
        padding-left: 0px;
    }

    .section-not-only {
        padding: 0px 10px 0px 10px;
        margin-bottom: 0;
        height: 823px;
        text-align: center;
        justify-content: flex-end;
        gap: 66px;
        /* align-items: center; */
    }
    .not-only-title {
        text-align: center;
        padding: 0;
        margin: 0 auto;
        width: 230px;
        height: 64px;
        font-size: 1.56rem;
        line-height: 2.03rem;
        letter-spacing: 1.5px;
    }
    .not-only-paragraph {
        padding: 0;
        margin: 0;
        width: 300px;
        height: 96px;
    }
    /* about-section */
    .about-the-shelter-section {
        margin: 0 auto;
        width: 320px;
        flex-direction: row;
        padding: 0 10px 0 10px;
        padding-top: 10px;
        height: 974px;
        
        align-items: flex-start;
    }
    .about-section-title{
        margin-bottom: 4px;
        text-align: center;
        width: 300px;
        height: 64px;
        font-size: 25px;
        line-height: 2.03rem;
        letter-spacing: 1.5px;
    }
    .about-section-paragraph {
        padding: 0 15px 0 15px;
        margin: 0;
        text-align: justify;
    }
    .about-text {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    .dog-and-cat {
        /* margin-top: 15%; */
        width: 260px;
        height: 353px;
    }

    /* section our-friends */
    .our-friends-section {
        padding: 42px 10px 20px 10px;
        height: 791px;
        gap: 35px;
    }

    /* .our-friend-card:nth-child(n+2) {
        display: none;
    } */
    .our-friend-card {
        margin-top: -6.3%;
    }
    .section-title {
        width: 300px;
    }
    .mobile {
        text-align: center;
        font-family: Georgia;
        font-size: 1.56rem;
        line-height: 2rem;
        letter-spacing: 1.5px;
        color: var(--color-dark-i);
    }
    .help-title {
        width: 290px;
    }
    .pets-container {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0px;
    }
    .btn-slider {
        position: relative;
        /* bottom: 5.8%; */
        bottom: 40px;
    }
    .know-more-btn {
        padding: 0;
        height: 52px;
    }
    .prev {
        /* right: 22%; */
        /* top: 4%; */
        order: 1;
        right: 65px;
        top: 20px;
    }
    .next {
        /* left: 22%; */
        order: 2;
        left: 65px;
        top: -30px;
    }
    .know-more-btn {
        display: block;
        position: relative;
        bottom: 3%;
    }
    .pets-wrap {
        width: 270px;
        gap: 40px;
    }

    /* help-section */
    .help-section {
        width: 100%;
        padding: 42px 15px 42px 15px;
        height: 745px;
        gap:42px;
    }
    .help-list {
        width: 290px;
        height: 555px;
        row-gap: 30px;
        justify-content: flex-start;
        column-gap: 30px;
    }
    .help-icon {
        width: 50px;
        height: 50px;
    }
    .help-list-item {
        width: 130px;
        height: 87px;
        gap: 20px;
    }
    .help-item-title {
        font-size: 0.94rem;
        line-height: 1rem;
        letter-spacing: 1px;
    }

    /* .donation-section */

    .donation-section {
        /* padding: 12px 10px 0 10px; */
        height: 547.2px;
    }
    .donation-wrapper {
        margin-top: -5px;
        margin-bottom: 0;
        padding-top: 0;
        width: 100%;
        height: 542.2px;
        gap: 42px;
    }
    .dog-wait-donation {
        margin-top: 0px;
        width: 260px;
        height: 135px;
    }
    .donation-title {
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 1.5px;
        text-align: center;
    }
    .wrapper-text-donation {
        margin-top: 23px;
        width: 100%;
        align-items: center;
    }
    .donation-text {
        margin-top: 0;
        width: 280px;
        height: 90px;
        text-align: justify;
    }
    .donation-subtitle {
        text-align: center;
        letter-spacing: 0;
    }
    .card-number-link {
        margin-top: 1.6%;
        width: 281px;
        padding-top: 12px;
        padding-bottom: 5px;
        padding-left: 15px;
    }
    .card-img {
        margin-top: 2px;
    }
    .card-number {
        font-size: 15px;
        line-height: 16.5px;
        letter-spacing: 1px;
    }

    /* footer */
    .footer{
        padding: 30px 10px 0 10px;
        height: 809px;
    }
    .footer-wrapper {
        width: 320px;
        padding-bottom: 0px;
        gap: 40px;
    }
    .puppy-footer{
        margin-top: 0;
        width: 260px;
        height: 269px;
    }
    .footer-title {
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 1.5px;
    }
    .first-footer-wrapper {
        width: 278px;
        height: 208px;
        justify-content: center;
        align-items: center;
    }
    .second-footer-wrapper {
        width: 300px;
        height: 222px; 
        align-items: center;
        gap: 40px;
    }
    .f-link {
        margin-right: 30px;
    }

    /* popap */

    .popap-wrapper{
        height: 791px;
    }
    .modal {
        /* top: 139px;
        /* top: 20px; */
        top: 4%;
        left: 4%; 
        width: 271px;
        height: 393px;
    }
    .popap-pet-img {
        display: none;
    }
    .popap-button {
        margin-left: 80%;
    }
    .popap-content {
        padding: 10px;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 341px;
    }

    .popap-pet-name {
        text-align: center;
    }
    .popap-pet-breed {
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 1px;
        margin: 0 auto;
        /* text-align: stretch; */
    }
    .popap-text {
        text-align: justify;
        width: 220px;
        height: 112px;
        line-height: 14px;
        letter-spacing: 0.06em;
    }
    .popap-dog {
        gap: 10px;
    }
    .popap-description {
        margin-top: 40px;
        gap: 18px;
    }
    .popap-list {
        gap: 2px;
        margin-left: -1px;
    }
    .popap-list > li {
        font-size: 13px;
    }
    
}
@media (max-width: 320px) {
    .dog-and-cat {
        margin-top: 15%;
    }
}
