@media screen and (max-width: 1920px) {
    .cards {
    padding: 3%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(11, 9, 88);
  }
  .card-img {
    min-width: 200px;
    max-height: 200px;
  }
  .card:hover {
    cursor: pointer;
  }
}