.car {
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  border-bottom: 3px dotted white;
}
.select-car,
.remove-car {
  width: 70px;
  height: 30px;
  border: 2px solid rgb(196, 199, 19);
  border-radius: 10%;
  background: rgb(196, 199, 19);
  color: green;
}
.select-remove-btn-item {
  margin-bottom: 1%;
  display: flex;
  gap: 15px;
}
.active {
  border: 3px solid rgb(239, 243, 26);
  background: rgb(239, 243, 26);
}
.car-svg {
  width: 80px;
  height: 60px;
  transform: translate(20%, 33%);
}
.flag {
  width: 50px;
  height: 80px;
  transform: translate(75vw, 30%);
}

@media screen and (max-width: 600px) {
  .flag {
    width: 40px;
    height: 60px;
    transform: translate(50vw, 30%);
  }
  .car-svg {
    width: 70px;
    height: 50px;
    transform: translate(20%, 33%);
  }
}